line-length = 79

exclude = [
  "notebooks",
  # Files with linting errors to be fixed gradually
  "afabench/afa_discriminative/afa_methods.py",
  "afabench/afa_discriminative/datasets.py",
  "afabench/afa_discriminative/models.py",
  "afabench/afa_discriminative/utils.py",
  "afabench/afa_generative/afa_methods.py",
  "afabench/afa_generative/datasets.py",
  "afabench/afa_generative/models.py",
  "afabench/afa_generative/utils.py",
  "afabench/afa_oracle/aaco_core.py",
  "afabench/afa_oracle/afa_methods.py",
  "afabench/afa_oracle/mask_generator.py",
  "afabench/afa_rl/callbacks.py",
  "afabench/afa_rl/custom_types.py",
  "afabench/afa_rl/datasets.py",
  "afabench/afa_rl/kachuee2019/agents.py",
  "afabench/afa_rl/kachuee2019/models.py",
  "afabench/afa_rl/kachuee2019/reward.py",
  "afabench/afa_rl/kachuee2019/utils.py",
  "afabench/afa_rl/shim2018/agents.py",
  "afabench/afa_rl/shim2018/models.py",
  "afabench/afa_rl/shim2018/utils.py",
  "afabench/afa_rl/utils.py",
  "afabench/afa_rl/zannone2019/agents.py",
  "afabench/afa_rl/zannone2019/models.py",
  "afabench/afa_rl/zannone2019/reward.py",
  "afabench/afa_rl/zannone2019/utils.py",
  "afabench/common/classifiers.py",
  # "afabench/common/initializers/utils.py",
  "afabench/common/models.py",
  "afabench/static/models.py",
  "afabench/static/static_methods.py",
  "afabench/static/utils.py",
  # "scripts/eval/eval_afa_method.py",
  "scripts/misc/calculate_evaluation_time.py",
  "scripts/misc/calculate_training_time.py",
  "scripts/misc/download_result_plots.py",
  "scripts/misc/generate_mock_evaluation_data.py",
  "scripts/misc/notebook.py",
  "scripts/plotting/plot_results.py",
  "scripts/pretrain/covert2023_image.py",
  "scripts/pretrain/gadgil2023_image.py",
  "scripts/pretrain/gadgil2023.py",
  "scripts/pretrain/kachuee2019.py",
  "scripts/pretrain/zannone2019.py",
  "scripts/train/aaco.py",
  "scripts/train/cae.py",
  "scripts/train/covert2023_image.py",
  "scripts/train/covert2023.py",
  "scripts/train/gadgil2023_image.py",
  "scripts/train/gadgil2023.py",
  "scripts/train/kachuee2019.py",
  "scripts/train/ma2018.py",
  "scripts/train/masked_mlp_classifier.py",
  "scripts/train/masked_vit_classifier.py",
  "scripts/train/optimalcube.py",
  "scripts/train/permutation.py",
  "scripts/train/shim2018.py",
  "scripts/train/zannone2019.py",
  "scripts/train/sequential_dummy.py",
  # "test/afa_rl/test_afacontext_optimal_selection.py",
  "test/afa_rl/test_datasets.py",
  "test/afa_rl/test_readprocessencoder.py",
  "test/afa_rl/test_utils.py",
  # "test/common/initializers/individual/test_aaco_default_initializer.py",
  # "test/common/initializers/individual/test_dynamic_random_initializer.py",
  # "test/common/initializers/individual/test_fixed_random_initializer.py",
  # "test/common/initializers/individual/test_manual_initializer.py",
  # "test/common/initializers/individual/test_mutual_information_initializer.py",
  # "test/common/initializers/individual/test_zero_initializer.py",
  "test/common/test_artifact_system.py",
]

[lint]
select = [
    "ALL"
]

ignore = [
  # Documentation (pydocstyle - D)
  "D100", # undocumented-public-module
  "D101", # undocumented-public-class
  "D102", # undocumented-public-method
  "D103", # undocumented-public-function
  "D104", # undocumented-public-package
  "D105", # undocumented-magic-method
  "D106", # undocumented-public-nested-class
  "D107", # undocumented-public-init
  "D203", # incorrect-blank-line-before-class
  "D212", # multi-line-summary-first-line
  "D400", # missing-trailing-period. D415 already covers this.
  "D413", # missing-blank-line-after-last-section

  # Type annotations (ANN)
  "ANN204", # missing-return-type-special-method. I don't want to annotate __init__

  # Pycodestyle errors (E)
  "E501", # line-too-long. `ruff format` already fixes this.

  # Boolean trap (FBT)
  "FBT001", # boolean-type-hint-positional-argument
  "FBT003", # boolean-positional-value-in-call

  # Logging (G)
  "G004", # logging-f-string

  # Import conventions (INP)
  "INP001", # implicit-namespace-package

  # Naming conventions (N)
  "N812", # lowercase-imported-as-non-lowercase
  "N806", # non-lowercase-variable-in-function

  # Pylint refactor (PLR)
  "PLR0913", # too-many-arguments
  "PLR2004", # magic-value-comparison

  # Return values (RET)
  "RET504", # unnecessary-assign

  # Bandit security (S)
  "S101", # assert. Useful in unit tests
  "S311", # suspicious-non-cryptographic-random-usage

  # Print statements (T)
  "T201", # print,
  "T203", # pprint

  # TODO comments (TD)
  "TD002", # missing-todo-author
  "TD003", # missing-todo-link
  "TD005", # missing-todo-description

  # Flake8-commas (COM)
  "COM812", # missing-trailing-comma

  # eradicate (ERA)
  "ERA001", # commented-out-code

  # flake8-fixme (FIX)
  "FIX002", # line-contains-todo
  "FIX004", # line-contains-hack

  # Ruff-specific (RUF)
  "RUF005", # collection-literal-concatenation. torch.Size cannot be unpacked

  # (PGH)
  "PGH004", # blanket-noqa. Very convenient to use on LLM generated files.

  # (F)
  "F722", # forward-annotation-syntax-error. Allows us to use jaxtyping to annotate shapes.

  # Pandas (PD)
  "PD901", # pandas-df-variable-name
]

extend-safe-fixes = [
    "D200",
    "PTH123", # builtin-open. Seems to not work :(
    "EM102", # f-string-in-exception
    "D415", # missing-terminal-punctuation
]

[format]
docstring-code-format = true
